
:root{
    --corQuaternaria: #ffffff;
    --corTerciaria: #2c3e50;
    --corSecundaria: #00ffd9;
    --corPrimaria: #2c2c2c;
    --brilhaCaixa: 0px 0px 35px var(--corSecundaria), 0px 0px 15px var(--corSecundaria);
    --brilhaTexto: 0px 0px 35px var(--corSecundaria), 0px 0px 15px var(--corSecundaria);
    --tamanho: calc(100vh - 10vh);
}


*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}

a{
    color: inherit;
    text-decoration: none;
}

body{
    overflow: hidden;
}

.main-header{
    background-color: var(--corPrimaria);
    height: 10vh;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.ham{
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
    z-index: 2;
}

.ham div{
    background-color: var(--corSecundaria);
    width: 30px;
    height: 3px;
    transform-origin: center;
    transition: all .5s ease;
    z-index: 2;
    
}

.header-title{
    color: var(--corSecundaria);
    z-index: 2;
}

.menu{
    background-color: var(--corPrimaria);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100%;
    padding: 10vh 0 0;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 1;
    transform: translateX(-100%);
    transition: transform .5s ease;
    z-index: 1;
}

.menu-item{
    padding: 20px 20px 10px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;

}

.menu-item span{
    font-weight: bold;
}

.home{
    border-bottom: 1px dotted var(--corSecundaria);
}

.menu-item:hover{
    background-color: var(--corTerciaria);
    border-bottom: 1px solid var(--corSecundaria);
}

.menu-item:hover span{
    color: var(--corSecundaria);
}

.sobre{
    background: url(assets/images/background.jpg) no-repeat bottom center;
    background-size: cover;
    width: 100%;
    height: var(--tamanho);
}

main{
    color: var(--corQuaternaria);
    width: 100%;
    padding: 0 10px;
    height: var(--tamanho);
    animation: darken 2s ease forwards;
    padding-top: 50px;
}

@keyframes darken{

    from{
        background-color: transparent;
    }

    to{
        background-color: rgba(0, 0, 0, 0.6);
    }
}

main h1{
    transform: scale(0);
    font-size: 10rem;
    animation: aparece 2s ease 2s forwards, brilha 3s 6s forwards;
}

main h2{
    font-size: 2rem;
    text-align: center;
    transform: scale(0);
    animation: aparece 2s ease 4s forwards, brilha 3s 6s forwards;
}

@keyframes aparece{
    from{
        transform: scale(0);
    }

    to{
        transform: scale(1);
    }
}

@keyframes brilha{
    from{
        text-shadow: none;
    }

    to{
        text-shadow: var(--brilhaTexto);
    }
}

@keyframes brilhaBox{
    from{
        text-shadow: none;
    }

    to{
        box-shadow: var(--brilhaCaixa);
    }
}

.details-container{
    padding: 30px 20px 20px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    transition: all .5s ease;
    border-radius: 20px;
}

.button{
    background-color: var(--corTerciaria);
    color: var(--corQuaternaria);
    font-size: 1rem;
    padding: .5rem 1.5rem;
    border: 2px solid var(--corQuaternaria);
    border-radius: 5px;
    cursor: pointer;
}

.details{
    transform: scale(0);
    animation: aparece 2s ease 6s forwards, brilhaBox 3s 8s forwards;
    
}

.button:hover{
    transform: scale(1.2) !important;
}

.details-texto{
    opacity: 0;
    font-size: 1.2rem;
    transition: all .5s ease;
}



