@media (min-width: 800px){
    
    body{
        background: url(./../../assets/images/backgroundbig.jpg) no-repeat bottom left ;
        background-size: cover;
    }

    header{
        margin-bottom: 50px;
    }

    .categorias{
        padding: 80px 0 200px;
    }

    .categorias-container{
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .meio{
        transform: scale(1) !important;
    }

}