

.random{
    padding-top: 100px;
    user-select: none;
}

.random h3{
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: 30px;
}

.control-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.resultado-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: var(--brilhaTexto);
}

.resultado{
    cursor: default;
    opacity: 0;
}

.item .resultado-image{
    width: 200px;
    height: 300px;
}

.filtro-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    order: -1;
}

.filtro{
    width: 120px;
    font-size: 1.3rem;
    padding: 10px 15px;
    border: 1px solid;
    border-radius: 10px;
    cursor: pointer;
    transition: all .5s ease;
    text-align: center;
}

.filtro:hover{
    border-color: var(--corSecundaria);
    box-shadow: var(--brilhaCaixa);
}
